{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Portfolio for Study Group</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
  <div class="container">
    <div class="topBar">
      <p class="announce">만드는게 쉽지가 않아요 이것저것 계속 검색해야되고 저도 이만큼하는데 일주일 걸렸어요</p>
      <a href="#" class="login">로그인</a>
    </div>
    <div class="header">
      <a href="{%url 'index'%}"><img src="{%static 'img/logo.png'%}" alt="로고"></a>
    </div>
    <div class="menu">
      <div></div>
      <a href="{%url 'index'%}" class="home">홈</a>
      <a href="#" class="info">페이지 정보</a>
      <a href="{%url 'project'%}" class="project">프로젝트</a>
      <a href="#" class="WIKI">TIL WIKI</a>
    </div>
    <div class="search">
      <form class="searchBar" action="/group/">
        <input type="text" class="searchText" placeholder="그룹검색">
        <button type="submit" class="searchBt"><i class="fas fa-search fa-2x"></i></button>
      </form>
    </div>
    <div class="blockContainer">
      <div class="state">
        <p>Wordcount</p>
      </div>
      <div class="block">
        <form action="">
                <textarea cols=40 rows=20 name='textarea'></textarea>
                <br>
                <input type="submit" value="Count!">
        </form>
      </div>
    </div>
    <div class="footer">
      <p class="announce">주현의 시간 여기 잠들다 RIP</p>
    </div>
  </div>
</body>

</html>